* {
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #edeef0;
}
a {
    color: rgba(82, 82, 82, 0.918);
    text-decoration: none;
}
/* Menu */
#logo {
    font-weight: 450;
    color: #396ba3;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 300ms;
}
#logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}
nav {
    padding-top: 4px;
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -7px;
    width: 101vw;
    min-width: 925px;
    display: flex;
    justify-content: space-around;
    background: #e3e5e8;
    align-items: center;
    height: 75px;
    box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.248);
    margin-bottom: 80px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    font-weight: 500;
    display: flex;
    letter-spacing: 2px;
    height: 76px;
    width: 95px;   
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-align: center; 
    align-items: center;
    border-left: 1px solid rgb(211, 211, 211);
}
li:hover {
    transition: 200ms;
    border-bottom: 2px solid rgb(77, 113, 192);
    /* background: #4e4e4e3b; */
    opacity: 0.7;
}
#emerg a {
    color: rgb(77, 113, 192);
    font-weight: 600;
}
#emerg {
    border-bottom: 2px solid rgb(77, 113, 192);
    
}
#planos {
    border-left: none;
}

/* Conteudo  */
.opcoes {
    
    background-color: #ffffff;
    color: #bdbdbd;
    position: fixed;
    left: -50%;
    right: -50%;
    top: 5px;
    width: 250px;
    height: 80px;
    z-index: 1;
    text-align: center;
    border: 1px solid ;
    border-top-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 400ms;
}
.opcoes:hover {
    
    top: 70px;
    transition: 600ms;
}
.opcoes p {
    cursor: default;
}
img {
    margin-top: 10px;
    width: 40px;
    transition: 300ms;
    cursor: pointer;
}
img:hover {
    transition: 300ms;
    transform: scale(1.2);
}
main {
    margin-top: 100px;
    width: 95vw;
    height: 90vh;
    min-width: 555px;
    max-width: 1300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
::placeholder {
    font-weight: 500;
    text-align: left;
    opacity: 0.7;
}
.box {
    background: rgb(255, 255, 255);
    width: 550px;
    padding: 10px;
    padding-right: 0px;
    height: 145px;
    border: 0.5px solid #7d7f8369;
    border-radius: 7px;
    font-weight: 500;
    color: #494949;
    margin-bottom: 15px;
}
h4 {
    margin-left: 110px;
    float: left;
    color: #396ba3;
    font-weight: 600;
    width: 54px;
}
#diag {
    font-weight: bolder;
    color: #4e4e4e;
    resize: none;
    margin-left: 105px;
    float: left;
    margin-bottom: 8px;
    width: 265px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-color: #4e4e4e59;
    border-radius: 6px;
}
#nome {
    clear: both;
    width: 250px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 5px;
    border-style: none;
    position: relative;
    top: -4px;
    color: #494949;
}
select {
    background-color: #788dac00;
    border-color: #788dac00;
    color: #3b3b3b;
    font-weight: 700;
    border-radius: 7px;
}
.obs {
    color: #3b3b3b;
    height: 120px;
    width: 268px;
    left: 269px;
    top: -118px;
    resize: none;
    position: relative;
    padding-left: 2px;
    border-radius: 7px;
    border-color: #4e4e4e59;
}
.idade {
    padding-left: 5px;
    text-align: center;
    background-color: none;
    border-style: none;
    width: 90px;
    top: -194px;
    left: -120px;
    font-weight: 700;
    position: relative;
    color: #494949;
    font-size: 12px;
}
.quarto {
    padding-left: 5px;
    text-align: center;
    background-color: none;
    border-style: none;
    width: 90px;
    top: -194px;
    left: 155px;
    font-weight: 700;
    position: relative;
    color: #494949;
    font-size: 12px;
}
.print{
    padding-left: 10px;
    padding-right: 10px;
}
.salvar {
    padding-right: 10px;
}
.limpar {
    padding-left: 10px ;
}

.confirma {
    position: fixed;
    top: 70px;
    display: none;
    align-items: center;
    z-index: 1;
    width: 95%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.quadrado {
    padding: 15px;
    margin-top: -200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.425);
    color: #396ba3;
    font-weight: bolder;
}

.botoes input {
     background: #557aa5;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 3px;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
    width: 70px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.botoes input:hover {
    transition: 300ms;
    background: #57c560;
    transform: scale(1.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.459);
}

#limpa input:hover {

}