* {
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: #edeef0;
}

a {
    color: rgba(82, 82, 82, 0.918);
    text-decoration: none;
}

/* Menu */
#logo {
    font-weight: 450;
    color: #396ba3;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 300ms;
}

#logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

nav {
    padding-top: 4px;
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -7px;
    width: 101vw;
    min-width: 925px;
    display: flex;
    justify-content: space-around;
    background: #e3e5e8;
    align-items: center;
    height: 75px;
    box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.248);
    margin-bottom: 80px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-weight: 500;
    display: flex;
    letter-spacing: 2px;
    height: 76px;
    width: 95px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    align-items: center;
    border-left: 1px solid rgb(211, 211, 211);
}

li:hover {
    transition: 200ms;
    border-bottom: 2px solid rgb(77, 113, 192);
    /* background: #4e4e4e3b; */
    opacity: 0.7;
}

#etiqueta a {
    color: rgb(77, 113, 192);
    font-weight: 600;
}

#etiqueta {
    border-bottom: 2px solid rgb(77, 113, 192);

}

#planos {
    border-left: none;
}

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: #396ba3;
    margin-bottom: 30px;
}

.etiqueta {
 
    width: 301px;
    height: 108px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.473);
    text-align: center;
    background: white;
}

img {
    margin: 0 auto;
    margin-top: 5px;
    width: 200px;
    margin-bottom: -5px;
}

textarea {
    resize: none;
    width: 290px;
    height: 65px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    align-items: center;
    border: none;
    text-transform: uppercase;
    font-weight: 550;
    outline: none;
}

:placeholder-shown {
    text-transform: none;
}

input {
    margin-top: 30px;
    width: 70px;
    height: 35px;
    background: #557aa5;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 3px;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);

}

input:hover {
    transition: 300ms;
    background: #4ead56;
    transform: scale(1.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.459);
}
