* {
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: #edeef0;
}

a {
    color: rgba(82, 82, 82, 0.918);
    text-decoration: none;
}

/* Menu */
#logo {
    font-weight: 450;
    color: #396ba3;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 300ms;
}

#logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

nav {
    padding-top: 4px;
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -7px;
    width: 101vw;
    min-width: 925px;
    display: flex;
    justify-content: space-around;
    background: #e3e5e8;
    align-items: center;
    height: 75px;
    box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.248);
    margin-bottom: 80px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-weight: 500;
    display: flex;
    letter-spacing: 2px;
    height: 76px;
    width: 95px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    align-items: center;
    border-left: 1px solid rgb(211, 211, 211);
}

li:hover {
    transition: 200ms;
    border-bottom: 2px solid rgb(77, 113, 192);
    /* background: #4e4e4e3b; */
    opacity: 0.7;
}

#planos a {
    color: rgb(77, 113, 192);
    font-weight: 600;
}

#planos {
    border-bottom: 2px solid rgb(77, 113, 192);
}

#planos {
    border-left: none;
}

/* Conteudo */
.planoList {
    color: rgb(138, 137, 137);
    background-color: #fff;
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #0000001f;
}

.planoList:hover {
    transition: 300ms;
    border-color: #5283c2c9;
}

h2 {
    font-weight: 600;
    margin: 0;
    color: #5382b9;
}

.usuarioCod {
    margin-right: 20px;
    font-size: 12px;
    display: inline;
}

.login {
    font-size: 9.5px;
    color: #53a911;
    display: inline;
}

.usuario {
    min-width: 100px;
    font-size: 12px;
    display: inline;
    cursor: pointer;
}

.usuario:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 1px #99999983;
}

.senha {
    margin-left: 20px;
    display: inline-block;
    font-size: 9.5px;
    color: #52a911;
}

.imagens {
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.121);
    text-align: center;
    width: 70px;
    padding-top: 5px;
    padding-left: 5px;
    right: -138px;
    top: -54px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 10px;
    position: relative;
    transition: 300ms;
    background-color: #aaaaaa1f;
}

.imagens:hover {
    transition: 100ms;
    background-color: #5a5a5a1f;
}

.imagens img:hover {
    transform: scale(1.3);
    transition: 300ms;
}

.pasta {
    margin-right: 5px;
    width: 20px;
}

.site {
    opacity: 0.6;
    margin-left: 5px;
    width: 20px;
}

footer {
    backdrop-filter: blur(5px);
    width: 260px;
    text-align: center;
    font-size: 11px;
    color: rgb(5, 5, 5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(26, 25, 32, 0.288);
    position: fixed;
    bottom: -110px;
    transition: 300ms;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.eu {
    text-decoration: underline;
    text-align: right;
    color: #1b1b1b;
    font-weight: bolder;
}

footer:hover {
    font-weight: bold;
    bottom: 0px;
    transition: 800ms;
    background-color: rgba(26, 25, 32, 0.774);
    color: rgb(212, 212, 212);
}

.popup {
    background: #5383b95e;
    color: #252525;
    backdrop-filter: blur(7px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
    width: 300px;
    height: 150px;
    position: fixed;
    bottom: -170px;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 8px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.384);
    opacity: 0;
    transition: 400ms;
}

.popup #textoCopiado {
    margin-top: 30px;
    font-style: italic;
}

.todosBlocos {
    margin-top: 90px;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.pastaDados {
    overflow: auto;
    display: none;
    position: fixed;
    height: 500px;
    width: 800px;
    background-color: #eeeeee9d;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0px 1px 3px rgba(93, 120, 170, 0.979);
    color: #303030;
}

.pastaDados h1 {
    color: #5382b9;
    margin-top: -10px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

.voltar {
    width: 40px;
    position: fixed;
    top: 17px;
    left: 90%;
    transition: 200ms;
}

.pastaDados img:hover {
    transition: 200ms;
    transform: scale(1.2);
}

.editarPasta {
    width: 40px;
    position: fixed;
    top: 15px;
    left: 82%;
    transition: 200ms;
}

.salvarPasta {
    display: none;
    width: 40px;
    position: fixed;
    top: 15px;
    left: 73.5%;
    transition: 200ms;
}

img {
    cursor: pointer;
}

.conteudo {
    padding-left: 5px;
    padding-bottom: 10px;
}
